.select2-container--default .select2-selection--single{
    border:none !important;
}


.selection{
    display: block !important;
    width: 300px !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: 0.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

table .bg-danger1{
  color:#dd1e53!important
}
table .bg-danger1::before,table .btn-danger1::before {
    background: #ff9e2e!important;
    border: 3px solid #f8e1c7!important
}

table .bg-danger1::before,table .btn-danger1::before {
    background: #ff9e2e!important;
    border: 3px solid #f8e1c7!important
}


table .bg-danger1::before {
    width: 12px !important;
    background: #dd1e53 !important;
    content: ''!important;
    display: inline-block!important;
    height: 12px!important;
    border-radius: 50%!important;
    border: 3px solid #e9abbc!important
    margin-right: 5px!important;
    top: 1px!important;
    position: relative!important;
	margin-left:-43px;
	
}

